.body {
    font-family: Verdana;
}

.coral-underline {
    border: none;
    background-color: #f4656a;
    color: #f4656a;
    height: 4px;
    opacity: 100;
    margin: auto;
    width: 200px;
}

.log-in-header {
    margin-top: 180px;
    margin-bottom: 40px;
}

.register-header {
    margin-top: 150px;
    margin-bottom: 30px;
}

.log-in-h1 {
    text-align: center;
    color: #313131;
}

.blue-button {
    border-color: #385c70;
    color: white;
    background-color: #385c70;
    font-weight: bold;
}

.blue-button:hover {
    color: white;
    border-color: #204c67;
    background-color: #204C67;
}

.coral-button {
    border-color: #f4656a;
    color: white;
    background-color: #f4656a;
    font-weight: bold;
}

.coral-button:hover {
    color: white;
    border-color: #ce595e;
    background-color: #ce595e;
}

.auth-form-coral-button-wrap {
    margin-top: 25px;
}

.validation-error {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.validation-error-wrap {
    margin-top: 20px;
    margin-bottom: 15px;
}

.auth-form-label {
    font-weight: bold;
    color: #313131;
}

.reg-form-label {
    display: block;
    text-align: center;
}

.news-header {
    width: 70%;
    margin: auto;
    padding-top: 40px;
    font-family: Verdana;
    color: #313131;
}

.news-header-link {
    font-family: Verdana;
    font-weight: normal;
    display: block;
    height: 45px;
    text-decoration: none;
    color: #313131;
    padding-top: 10px;
    transition: 0.15s;
}

.news-header-link:hover {
    color: #525252;
    font-size: 2.1rem;
    transition: 0.15s;
}

.news-header-title {
    font-weight: bold;
    text-align: center;
}

.news-header-title:hover {
    font-weight: bold;
    text-align: center;
    font-size: 2.8rem;
    transition: 0.15s;
}

.news-header-input {
    height: 45px;
    width: 65%;
    display: inline;
    transition: 0.15s;
}

.news-header-input:hover {
    height: 50px;
    width: 67%;
    transition: 0.15s;
}

.news-header-button {
    height: 45px;
    width: 27%;
    display: inline;
    transition: 0.15s;
}

.news-header-button:hover {
    height: 50px;
    width: 29%;
    transition: 0.15s;
}

.search-for-news-form {
    padding-right: 0;
}

.news-type-wrap {
    text-align: center;
    padding: 0;
}

.news-type {
    text-decoration: none;
    text-transform: uppercase;
    color: #313131;
    transition: 0.15s;
}

.news-type:hover {
    color: #575757;
    font-size: 1.2rem;
    transition: 0.15s;
}

.news-header-underline {
    margin-top: 5px;
    width: 100%;
    display: block;
}

.news-main-image {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    height: 250px;
}

.empty-database-apology {
    text-align: center;
    margin-top: 50px;
}

.news-block {
    width: 70%;
    margin-left: 15%;
    margin-top: 1rem;
}

.news-block-link {
    text-decoration: none;
}

.news-block-header {
    color: #313131;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.news-block-preview {
    color: #313131;
    margin-bottom: 10px;
}

.news-block-first-underline {
    margin-top: 15px;
}

.news-posted-at {
    text-align: right;
    margin-bottom: 0;
    color: #5e5e5e;
    font-weight: bold;
    font-size: 0.8rem;
}

.news-byId-button {
    width: 90%;
    margin-left: 5%;
    transition: 0.15s;
}

.news-byId-button:hover {
    width: 95%;
    margin-left: 2.5%;
    font-size: 1.2rem;
}

.news-byId-title {
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
}

.news-byId-body {
    font-size: 1.5rem;
}


