.body {
    font-family: Verdana;
}

.coral-underline {
    border: none;
    background-color: #f4656a;
    color: #f4656a;
    height: 4px;
    opacity: 100;
    margin: auto;
    width: 200px;
}

.log-in-header {
    margin-top: 180px;
    margin-bottom: 40px;
}

.register-header {
    margin-top: 150px;
    margin-bottom: 30px;
}

.log-in-h1 {
    text-align: center;
    color: #313131;
}

.blue-button {
    border-color: #385c70;
    color: white;
    background-color: #385c70;
    font-weight: bold;
    --bs-btn-active-bg: #204c67;
    --bs-btn-active-border-color: #204c67;
}

.blue-button:hover {
    color: white;
    border-color: #204c67;
    background-color: #204C67;
}

.coral-button {
    border-color: #f4656a;
    color: white;
    background-color: #f4656a;
    font-weight: bold;
    --bs-btn-active-bg: #e0464c;
    --bs-btn-active-border-color: #e0464c;
}

.coral-button:hover {
    color: white;
    border-color: #e0464c;
    background-color: #e0464c;
}

.auth-form-coral-button-wrap {
    margin-top: 25px;
}

.auth-form-button {
    width: 90%;
    margin-left: 5%;
    transition: 0.2s;
}

.auth-form-input {
    width: 90%;
    margin-left: 5%;
}


.auth-form-button:hover {
    width: 93%;
    margin-left: 3.5%;
    font-size: 1.2rem;
}

.validation-error {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.validation-error-wrap {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.auth-form-label {
    font-weight: bold;
    margin-left: 5%;
    color: #313131;
}

.reg-form-label {
    display: block;
    text-align: center;
}

.reg-form-button {
    width: 95%;
    margin-left: 2.5%;
    transition: 0.2s;
}

.reg-form-button:hover {
    width: 98%;
    margin-left: 1%;
    transition: 0.15s;
    font-size: 1.2rem;
}

.news-header {
    width: 70%;
    margin: auto;
    padding-top: 40px;
    font-family: Verdana;
    color: #313131;
}

.news-header-link {
    font-family: Verdana;
    font-weight: normal;
    display: block;
    height: 45px;
    text-decoration: none;
    color: #313131;
    padding-top: 10px;
    transition: 0.15s;
}

.news-header-link:hover {
    color: #525252;
    font-size: 2.1rem;
    transition: 0.15s;
}

.news-header-title {
    font-weight: bold;
    text-align: center;
    transition: 0.15s;
}

.news-header-title:hover {
    font-weight: bold;
    text-align: center;
    font-size: 2.8rem;
}

.news-header-input {
    height: 45px;
    width: 65%;
    display: inline;
    transition: 0.15s;
}

.news-header-input:hover {
    height: 50px;
    width: 67%;
    transition: 0.15s;
}

.news-header-button {
    height: 45px;
    width: 27%;
    display: inline;
    transition: 0.15s;
}

.news-header-button:hover {
    height: 50px;
    width: 29%;
    transition: 0.15s;
}

.search-for-news-form {
    padding-right: 0;
}

.news-type-wrap {
    text-align: center;
    padding: 0;
}

.news-type {
    text-decoration: none;
    text-transform: uppercase;
    color: #313131;
    transition: 0.15s;
}

.news-type:hover {
    color: #575757;
    font-size: 1.2rem;
    transition: 0.15s;
}

.news-header-underline {
    margin-top: 5px;
    width: 100%;
    display: block;
}

.news-main-image {
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    height: 250px;
}

.empty-database-apology {
    text-align: center;
    margin-top: 50px;
}

.news-block {
    width: 70%;
    margin-left: 15%;
    margin-top: 1rem;
    word-break: break-all;
}

.news-block-link {
    text-decoration: none;
}

.news-block-header {
    color: #204c67;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.news-block-preview {
    color: #3d3d3d;
    margin-bottom: 10px;
    text-align: justify;
}

.news-block-first-underline {
    margin-top: 15px;
}

.news-posted-at {
    text-align: right;
    margin-bottom: 0;
    color: #9d9d9d;
    font-weight: bold;
    font-size: 0.8rem;
}

.news-byId-button {
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
    transition: 0.15s;
}

.news-byId-button:hover {
    width: 95%;
    margin-left: 2.5%;
    font-size: 1.2rem;
}

.news-byID-button-wrapper {
    margin-bottom: 4rem;
}

.news-byId-title {
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    color: #204c67;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.news-byId-buttons-block {
    margin-bottom: 3rem;
}

.news-byId-body {
    font-size: 1.5rem;
    text-align: justify;
    color: #3d3d3d;
}

.news-byId-container {
    width: 70%;
    margin-left: 15%;
    margin-top: 3rem;
    word-break: break-all;
}

.signing-footer-wrap {
    width: 70%;
    margin-left: 15%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.signing-footer-sign {
    color: #9d9d9d;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.my-account-header-underline {
    width: 70%;
    margin-left: 15%;
}

.my-account-info-form {
    margin-top: 5rem;
}

.my-account-info-unit {
    width: 90%;
    margin-left: 5%;
}

.my-account-info-label {
    font-weight: bold;
    color: #204C67;
    text-align: center;
}

.my-account-info-userdataField {
    font-size: 1.3rem;
    color: #575757;
    text-align: center;
}

.stats-container {
    margin-top: 3rem;
}

.history-block {
    margin-bottom: 3rem;
}

.history-title {
    padding-top: 0.3rem;
}

.history-date {
    font-weight: bold;
    font-size: 0.8rem;
    color: #727272;
    padding-top: 0.6rem;
    text-align: center;
}

.history-block-button {
    width: 90%;
    margin-left: 5%;
    transition: 0.15s;
}

.history-block-button:hover {
    font-size: 1.1rem;
    width: 95%;
    margin-left: 2.5%;
}

.history-block-toNews-button {

}

.history-block-newsTitle {
    text-decoration: none;
    font-family: Verdana;
    font-size: 1rem;
    color: #313131;
}

.history-block-newsTitle:hover {
    text-decoration: underline;
    color: #727272;
}

.history-block {
    font-family: Verdana;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70%;
    margin-left: 15%;
}

.history-block-newsForDate {
    margin-left: 4rem;
    margin-top: 2rem;

    color: #385c70;
}

.history-block-item {
    margin-top: 0;
}

.my-account-info-button-block {
    width: 70%;
    margin-left: 15%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.history-block-clearAll-button {
    width: 90%;
    margin-left: 10%;
    transition: 0.15s;
    height: 3rem;
    display: block;
    font-weight: bold;
    font-family: Verdana;
}

.history-block-clearAll-button:hover {
    width: 100%;
    margin-left: 0;
    font-size: 1.2rem;
}

.history-block-title {
    margin-left: 1rem;
    font-weight: bold;
    color: #313131;
    font-family: Verdana;
}

.to-news-button {
    padding-top: 0.7rem;
}

.to-news-button:hover {
    padding-top: 0.5rem;
}

.news-update-form-dropdown-wrap{
    width: 95%;
}

.news-update-form-dropdown {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    transition: 0.15s;
}

.news-body-textarea {
    width: 95%;
    margin-left: 2.5%;
}

.update-news-label {

    font-weight: bold;
    color: #313131;
}

.news-update-form {
    width: 97%;
    margin-left: 1.5%;
}

.news-update-form-wrap {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.news-body-input {
    height: 10rem;
}

.error-image {
    width: 100%;
}

.error-status-code {
    font-size: 8rem;
    text-align: center;
    font-family: Verdana;
    color: #313131;
    font-weight: bold;
}

.error-status-code-wrap {
    margin-left: 2rem;
    margin-top: 3rem;
}

.error-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.edit-news-posted-at {
    margin-right: 2rem;
}

.edit-news-action-button-block-parent-wrap {
    position: relative;
}

.edit-news-action-button-block-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.edit-news-action-button {
    margin-top: 1rem;
    width: 90%;
    margin-left: 10%;
    display: block;
}
