<div th:fragment="header">
    <div class="container news-header">
        <div class="row justify-content-md-center news-main-header">
            <div class="col-4">
                <h2 id="up" class="admin-header-title">Admin Console</h2>
            </div>
            <div class="col-2">
                <form th:method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary blue-button admin-header-button">Log out</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6"><hr></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2 news-type-wrap">
                <a class="news-type" th:href="@{/adminConsole/updateNews}">Update news</a>
                <div th:if="${adminConsoleCurrantOption == 'updateNews'}">
                    <hr class="coral-underline news-header-underline"/>
                </div>
            </div>
            <div class="col-2 news-type-wrap">
                <a class="news-type" th:href="@{/adminConsole/editNews}">Edit news</a>
                <div th:if="${adminConsoleCurrantOption == 'editNews'}">
                    <hr class="coral-underline news-header-underline"/>
                </div>
            </div>
            <div class="col-2 news-type-wrap">
                <a class="news-type" th:href="@{/adminConsole/newsPreview}">News preview</a>
                <div th:if="${adminConsoleCurrantOption == 'newsPreview'}">
                    <hr class="coral-underline news-header-underline"/>
                </div>
            </div>
        </div>
    </div>
</div>